.todolist {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 570px;
  font-size: 3rem;
  margin: 0 auto;
  padding: 10px;
  background-color: bisque;
  font-weight: bold;
  color: green;
}

form {
  width: 550px;
  padding: 10px;
}

input {
  background-color: lightgray;
  font-size: 1.9rem;
  width: 550px;
  color: black;
  text-align: center;
  border-radius: 20px;
  padding: 3px 0;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin: 10px;
}

button {
  background-color: #e64944;
  color: white;
  font-size: 1.2rem;
  padding: 6px 14px;
  cursor: pointer;
}

button:hover {
  background-color: lightslategray;
}

.completed {
  text-decoration: line-through;
  color: red;
}
